body {
  max-width: 500px;
}



form div {
  margin-bottom: 0.5em;
  box-sizing: border-box;
  width: 450px;
}
form div label, form div input {
    display: inline-block;
    margin-bottom: 0.3em;
}

.reqParam {
	display: inline-block;
	width: auto;
}

.boutonChamps {
	display: inline;
}

#name{
	width:100%
}

.reqParam, .resField{
  margin: 0 3px 5px 0;
}

.addedReqParam, .addedResParam{
  margin: 0 7px 5px 0;
}